
.chatName {
  display: flex;
  justify-content: space-between;

  align-items: center;

  .text {
    & span {
      font-weight: 700;
    }
  }

  .date {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px;
    width: 50px;
    @media (max-width: 900px) {
      display: none;

    }
  }
}

.chatAvatar {
  margin: 0 5px 0;
}





